*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
}

.navbar{
    width: 85% ;
    margin: auto;
    padding: 35px 0;
    display: flex ;
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    width: 120px ;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #80a2d3;
}
.navbar ul li{
    display: inline-block;
    margin: 0 20px ;
    list-style: none;
    position: relative;
}

#hi{
    width: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #80a2d3;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ;
}
.navbar ul li:hover::after{
    width: 100% ;
}
.bc{
    text-align: center;
    background-color: #f8f9fa;
    padding: 50px;
}
  
.bc h1 {
    color: #6c757d;
    font-size: 40px;
    margin-bottom: 10px;
}
  
.bc p {
    color: #6c757d;
    font-size: 20px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
  
.image-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}
  
.image-container img {
    max-width: 100%;
    height: auto;
  }
  
.text-container {
    flex: 1;
    padding: 20px;
}
  
.text-container h1 {
    color: #6c757d;
    font-size: 28px;
    margin-bottom: 10px;
}
  
.text-container p {
    color: #6c757d;
    font-size: 16px;
}

.midpart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 50%;
    color:#6c757d;
}

.midpart h1 {
    text-align: center;
    color:  #6c757d;
}

.midpart video {
    border: 5px groove whitesmoke;
    border-radius: 3%;
}
#footer {
    background-color: #f8f8f8;
    border-top: 2px outset #ccc;
    padding: 20px;
    text-align: center;
}

#company-name {
    font-size: 24px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#copyright {
    font-size: 12px;
    color: #777;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.column {
    flex: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.column img {
    max-width: 50px;
    margin-right: 10px;
}
.comp h1{
    text-align: center;
}

.container1 {
        max-width: 800px;
        margin: auto;
        padding: 2rem;
}
    
.reviews-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
}
    
.review {
        flex: 1;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 1.5rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: calc(33.33% - 20px); /* Adjust the width as needed */
        box-sizing: border-box;
}
    
.review p {
        font-size: 1.2rem;
        line-height: 1.6;
        color:#6c757d;
}
section h1{
    text-align: center;
}
